In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
df = pd.read_csv('TIMESERIESFORECASTING.csv')
df.head()

         Date  Sales  Advertising Spend  Temperature  Holiday
0  01-01-2023    100                 50         25.5        0
1  02-01-2023    110                 55         26.0        1
2  03-01-2023    120                 60         26.5        0
3  04-01-2023    130                 65         27.0        0
4  05-01-2023    125                 70         26.5        0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10 non-null     object
 1   Sales              10 non-null     int64
 2   Advertising Spend  10 non-null     int64
 3   Temperature        10 non-null     float64
 4   Holiday            10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes

In [4]:
m = df.isna().sum()
m[m>0]

Series([], dtype: int64)

In [5]:
df.duplicated().sum()

0

In [9]:
X = df.drop(columns=['Sales', 'Date'])
Y = df[['Sales']]

In [10]:
X.head()

   Advertising Spend  Temperature  Holiday
0                 50         25.5        0
1                 55         26.0        1
2                 60         26.5        0
3                 65         27.0        0
4                 70         26.5        0

In [11]:
Y.head()

   Sales
0    100
1    110
2    120
3    130
4    125

In [12]:
cat = list(X.columns[X.dtypes=='object'])
con = list(X.columns[X.dtypes!='object'])

In [13]:
cat

[]

In [14]:
con

['Advertising Spend', 'Temperature', 'Holiday']

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [22]:
num_pipe = Pipeline(steps=[('impute', SimpleImputer(strategy='median')),
                           ('scaler', StandardScaler())]).set_output(transform='pandas')

In [23]:
X_pre = num_pipe.fit_transform(X)
X_pre.head()

   Advertising Spend  Temperature   Holiday
0          -1.566699    -0.167444 -0.333333
1          -1.218544     0.390702  3.000000
2          -0.870388     0.948847 -0.333333
3          -0.522233     1.506993 -0.333333
4          -0.174078     0.948847 -0.333333

In [24]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_pre, Y, test_size=0.3, random_state=42)

In [25]:
xtrain.head()

   Advertising Spend  Temperature   Holiday
0          -1.566699    -0.167444 -0.333333
7           0.870388    -0.725589 -0.333333
2          -0.870388     0.948847 -0.333333
9           1.566699    -1.841880 -0.333333
4          -0.174078     0.948847 -0.333333

In [26]:

ytrain.head()

   Sales
0    100
7    145
2    120
9    155
4    125

In [27]:
xtest.head()

   Advertising Spend  Temperature   Holiday
8           1.218544    -1.283735 -0.333333
1          -1.218544     0.390702  3.000000
5           0.174078     0.390702 -0.333333

In [29]:
ytest.head()

   Sales
8    150
1    110
5    135

In [30]:

xtrain.shape

(7, 3)

In [31]:

xtest.shape

(3, 3)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [50]:
models = {'Logistic' : LogisticRegression(),
       'Decision Tree' : DecisionTreeRegressor(),
       'Random Forest': RandomForestRegressor(),
       'Gradient Boost': GradientBoostingRegressor(),
       'KNN': KNeighborsRegressor(),
       'SVM': SVR()}

In [51]:
models.items()

dict_items([('Logistic', LogisticRegression()), ('Decision Tree', DecisionTreeRegressor()), ('Random Forest', RandomForestRegressor()), ('Gradient Boost', GradientBoostingRegressor()), ('KNN', KNeighborsRegressor()), ('SVM', SVR())])

In [52]:
for name, model in models.items():
    model.fit(xtrain, ytrain.values.ravel())
    score = model.score(xtest, ytest)
    print(f'{name} Score: {score}')

Logistic Score: 0.0
Decision Tree Score: 0.8163265306122449
Random Forest Score: 0.9801969387755102
Gradient Boost Score: 0.8452594206413635
KNN Score: 0.4281632653061225
SVM Score: 0.08492939857461435